<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poke-API</title>
    <%- include('partials/header')%>
</head>
<body class="bg-dark text-light d-flex justify-content-center flex-column">
    <%- include('partials/navbar')%>
    <h1 class="text-center">Bienvenido a Poke-API!!!</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Pokebola-pokeball-png-0.png/481px-Pokebola-pokeball-png-0.png" alt="pokeball" width="250px" class="align-self-center">
    <div class="container mt-4">
        <p class="fs-3">
            Bienvenido a este sitio web llamado Poke-API!, este sitio fue creado con la intencion de que usted pueda realizar 
            peticiones GET a la pokedex de Kanto, mediante rutas api de este sitio, ya sea con postman o con su propia app web, 
            espero que lo disfrute!
        </p>
    </div>
    <%- include('partials/form')%>
    <%- include('partials/body')%>
</body>
</html>